<%- include('../partials/messages') %>
<div class="TOTP">
  <p>Please enter the code from your TOTP application to continue.</p>
  <form
    action="/account/login/mfa/<%= accountId %>"
    method="post"
    class="addInventoryForm"
  >
    <input type="text" name="totp_code" placeholder="Enter TOTP code" />
    <button type="submit">Verify</button>
  </form>
</div>
