<% if (Array.isArray(messages) && messages.length > 0) { %>
<ul class="flash-container">
  <h3><%= messages[0] %></h3>
  <% if (messages.length > 1) { %> <%
  messages.slice(1).forEach(function(message) { %>
  <li class="flash-item"><%= message %></li>
  <% }); %> <% } %>
</ul>
<% } %>
