<h1>Inventory Management</h1>
<%- include('../partials/messages') %>
<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
</ul>
<h2>Manage Inventory</h2>
<p>Select an inventory item</p>
<select id="classificationList">
  <option value="default" selected disabled>Choose a selection</option>
  <% classifications.forEach(function(classification) { %>

  <option value="<%= classification.classification_id %>">
    <%= classification.classification_name %>
  </option>
  <% }); %>
</select>

<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
